.greet-text {
  font-weight: 500;
  font-size: 48px;
}

.username {
  color: red;
}

.status {
  font-weight: 400;
  font-size: 18px;
}

.stats {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.charts-section {
  display: flex;
  flex-direction: column;
}
.big-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 835px;
  height: 320px;
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  margin: 14px;
}

.sessions-title {
}

.small-charts {
  display: flex;
  flex-direction: row;
}
.small-chart-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 263px;
  border-radius: 5px;
  margin: 14px;
}
.line-chart-block {
  background: #ff0000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}

.line-chart-title {
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.line-chart {
  height: 90%;
}

.radar-chart-block {
  background: #282d30;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}

.radial-chart-block {
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}

.radial-chart-title {
  font-weight: 500;
  font-size: 15px;
  color: #20253a;
}

.cards-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
